.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: #333;
  padding-bottom: 20px;
  background-color: #f8f8f8;
}

.App-link {
  color: #61dafb;
}

.App-body {
  padding-top: 20px;
  background-color: #fff;
  text-align: left;
}

* {
  text-rendering: optimizeLegibility;
  direction: ltr;
  line-height: 1.5;
  font-size: 1em;
  font-weight: 400;
}

body {
  color: #333;
  font-family: 'Georgia','Times New Roman',serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
}

article {
  background: #fff;
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 1.5em;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.51em;
}

h3 {
  font-size: 1em;
  line-height: 1.66em;
}

a {
  text-decoration: underline;
  font-weight: normal;
}

a,
a:visited,
a:hover,
a:active {
  color: #0095dd;
}

p,
code,
pre,
blockquote,
ul,
ol,
li,
figure,
.wp-caption {
  margin: 0 0 30px 0;
}

p > img:only-child,
p > a:only-child > img:only-child,
.wp-caption img,
figure img {
  display: block;
  max-width: 100%;
  margin: auto auto 4px;
  box-sizing: border-box;
  max-height: 400px;
  height: auto;
}

.caption,
.wp-caption-text,
figcaption {
  font-size: 0.9em;
  line-height: 1.48em;
  font-style: italic;
}

code,
pre {
  white-space: pre-wrap;
}

blockquote {
  padding: 0;
  -moz-padding-start: 16px;
}

ul,
ol {
  padding: 0;
}

ul {
  -moz-padding-start: 30px;
  list-style: disc;
}

ol {
  -moz-padding-start: 30px;
  list-style: decimal;
}

/* Hide elements with common "hidden" class names */
.visually-hidden,
.visuallyhidden,
.hidden,
.invisible,
.sr-only {
  display: none;
}
